<script type="text/javascript">

</script>

this is home

<div class="owl-carousel">
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-1.jpg' %> </div>
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-2.jpg' %> </div>
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-3.jpg' %> </div>
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-4.jpg' %> </div>
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-5.jpg' %> </div>
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-6.jpg' %> </div>
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-7.jpg' %> </div>
	<div> <%= image_tag 'elegant_backgrounds/Elegant_Background-8.jpg' %> </div>
</div>

<div style="height: 2000px;">
	something in here
</div>
