<% type=="edit" ? action = "update" : action = "create" %>

<%= form_for @subpage, remote: true, html: { class: "form-horizontal", style: "display:inline;" }, url: {action: action}, :builder => Judge::FormBuilder do |f| %>
	<div class="">
		<ul class="errors"></ul>

		<div class="control-group">
			<%= f.label :title, class:"control-label" %>
			<div class="controls">
				<%= f.text_field :title, validate: true %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :link_header, class: "control-label" %>
			<div class="controls">
				<%= f.text_field :link_header, validate: true %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :content, class: "control-label" %>
			<div class="controls">
				<%= f.text_area :content, validate: true ,class: 'tinymce' %><%= tinymce plugins: "uploadimage" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :active, class: "control-label" %>
			<div class="controls">
				<%= f.check_box :active%>
			</div>
		</div>
	</div>
	<div class="">
		<%= f.submit class: "btn btn-primary btn-submit" %>
		<%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
	</div>
<% end %>

