<table class="sub_menu table table-bordered subpage_index">
	<tr>
		<th id="sub_menu_title">title</th>
		<th id="sub_menu_content">content</th>
		<th id="sub_menu_author">author</th>
		<th id="sub_menu_edit">edit</th>
		<th id="sub_menu_delete">delete</th>
	</tr>
<% @subpages.each do |page| %>
	<tr>
		<td id="sub_menu_title"><%= page.title %></td>
		<td id="sub_menu_content"><%= truncate(page.content , :length => 70, :separator => ' ')%></td>
		<td id="sub_menu_author"><%= page.user.email %></td>
		<td id="sub_menu_edit"><%= link_to "Edit" ,edit_admin_subpage_path(page) %></td>
		<td id="sub_menu_delete"><%= link_to 'Delete',  admin_subpage_path(page),  method: :delete, data: { confirm: 'Are you sure?' } %></td>
	</tr>
<% end %>	
</table>	
