<%= render 'admin/partials/tophalf' %>
	<div class="standard_form">
		<%= form_for @settings, url: {action: "update"}, html: { class: "default_update_form"} do |f| %>

			<%= f.label :site_name,class: 'input_label' %>
			<%= f.text_field :site_name, class: 'input_field' %><br/>

			<%= f.label :site_title,class: 'input_label' %>
			<%= f.text_field :site_title, class: 'input_field' %><br/>

			<%= f.label :site_copyright,class: 'input_label' %>
			<%= f.text_field :site_copyright, class: 'input_field' %><br/>

			<%= f.label :admin_email,class: 'input_label' %>
			<%= f.text_field :admin_email, class: 'input_field' %><br/> 

			<%= f.label :booking_email,class: 'input_label' %>
			<%= f.text_field :booking_email, class: 'input_field' %><br/> 

			<%= f.label :registration_mode,class: 'input_label' %>
			<%= f.text_field :registration_mode, class: 'input_field' %><br/>

			<%= f.label :subpages_active,class: 'input_label' %>
			<%=f.check_box :subpages_active%><br/>

			<%= f.label :teams_active,class: 'input_label' %>
			<%= f.check_box :teams_active%><br/>

			<%= f.label :services_active,class: 'input_label' %>
			<%= f.check_box :services_active%><br/>

			<%= f.submit "Update", class: "btn btn-large btn-submit" %>
		<% end %>
	</div>
<%= render 'admin/partials/bottomhalf' %>
