<% if controller_name != 'admin' %>
	<% if yield_site_settings.header_enabled %>
		<div <% if yield_site_settings.header_mode == 3 %>data-offset-top="0" data-0="opacity: 1; display: block;" data-<%= yield_site_settings.header_fade %>="opacity: 0.1; display: none;" class="affix main_header" data-spy="affix" style="position: fixed;" <% elsif yield_site_settings.header_mode == 2 %>style="position: fixed;"<% end %> id="nav" class ="main_header">
			<div id="main_header_top_spacer"></div>
			<div id="navbar_contrainer">
				<div class="navbar">
				    <div class="navbar-inner">
						<div class="logo"><%= link_to image_tag('KN_white.png', height: 40, width: 40), {action: 'index', controller: 'home'} %> <%= yield_site_settings.site_title %></div>
						<%= render 'layouts/partials/main_menu' %>
				    </div> 
			    </div>
			</div> 
			<div id="main_header_bottom_spacer"></div>
		<% end %>
	</div>
	<% if display_carousel %>
		<div id="owl-demo" class="owl-carousel owl-theme">
			<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-1.jpg' %> </div>
			<% if display_more_than_one_image %>
				<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-2.jpg' %> </div>
				<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-3.jpg' %> </div>
				<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-4.jpg' %> </div>
				<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-5.jpg' %> </div>
				<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-6.jpg' %> </div>
				<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-7.jpg' %> </div>
				<div class="item"> <%= image_tag 'elegant_backgrounds/Elegant_Background-8.jpg' %> </div>
			<% end %>
		</div>
	<% else %>
		<div id="header_carousel_spacer"></div>
	<% end %>
<% end %>