<ul class="nav">
	<li class="active"><%= link_to "Home", root_path %></li>
	<% if yield_site_settings.services_active %>
		<li><%= link_to "Services", services_path %></li>
	<% end %>
	<% yield_site_subpages.each do |page| %>
		<% if page.active %>
			<li><%= link_to page.link_header.capitalize, spid_path(page) %></li>
		<% end %>
	<% end %>
	<li><%= link_to "Contact", contact_path %></li>
	<li>
		<% if user_signed_in? %>
			<%= link_to "Control Panel", admin_path %>
		<% else %>
			<%= link_to "Login", login_path %>
		<% end %>
	</li>
</ul>
