<!DOCTYPE html>
<html>
<head>
	<title>Kirka</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<% if !(controller_name='session' && action_name='new') %>
		<%= render 'layouts/partials/header' %>
		<div id="main_contrainer">
			<%= notice %>
			<%= alert %>
			
			<%= yield %>
		</div>
		<%= render 'layouts/partials/footer' %>
	<% else %>
		<%= yield %>
	<% end %>

</body>
</html>
